
<div class="jumbotron text-center">
    <h1>WELCOME TO OKITTER</h1><br>
    <%= link_to 'LOG IN', new_user_session_path, class: "btn btn-info" %>
    <%= link_to 'CREATE ACCOUNT', new_user_registration_path, class: "btn btn-primary" %>
    <%= link_to 'log out', destroy_user_session_path, class: 'btn btn-light', method: :delete %>

    <% if @user.present? %>
        <br><br>
        <span>Hello <%= link_to @user.username, tweets_path %>.</span>
    <% end %>
</div>

