<header>
        <%# link_to "sample app", root_path, id: "logo" %>
          <ul class="nav justify-content-center">
              <li  class="nav-item"><%= link_to "something", '#', class: "nav-link active" %></li>
              <li  class="nav-item"><%= link_to "something", '#', class: "nav-link active" %></li> 
              <li  class="nav-item"><%= link_to "something", '#', class: "nav-link active" %></li>
          </ul>
</header>